[
    {
        "method": "get",
        "path": "/status",
        "file": "status.json"
    },
    {
        "method": "get",
        "path": "/info",
        "file": "info.json"
    },
    {
        "method": "post",
        "path": "/echo",
        "file": "echo.json",
        "injectBody": true
    },
    {
        "method": "post",
        "path": "/token",
        "file": "token.json"
    },
    {
        "method": "post",
        "path": "/:id/token",
        "file": "token.json"
    },
    {
        "method": "get",
        "path": "/dynamic",
        "file": "dynamic.json"
    }
]
